:root {
  --bgc-img: url(../images/cover-image-dark.png);
  --bgc-color: #000028;
  --accent-color: #FF0070;
  --buttons-color: #FF0070;
  --buttons-hover-color: rgba(255, 0, 112, .4);
  --title-color: #FF0070;
  --text-main-font: 'IBM Plex mono', monospace;
  --title-font-color: #DB00FF;
  --desc-text-color: #000028;
  --subtitle-color: #FF0070;
  --text-color: #F1B2CE;
  --decoration-color: #FF0070;
  --content-margin: 80px;
  --header-footer-margin: 60px;
  --decor-element-color: #FF0070;
}